.form {
  width: 100%;
  /*max-width: 784px;*/
  width: 420px;
  height: 884px;
  padding: 20px 30px;
  background-color: white;
  /*olor: #06509e;*/
  border-radius: 16px;
}

.title {
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  color: #424952;
}

.message {
  padding: 20px 30px;
  color: red;
}
